
@font-face{
    font-family: 'Atraian';
    src: url('./SFAtarianSystem.ttf');
  }
  
.header{
    letter-spacing: 2px;
    font-family: Atraian;
    padding: 0px;
    margin: 7vh;
    background: #9CC2AF;
    color: #343434;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #9CC2AF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    font-weight: normal;
    text-align: center;
    text-shadow: -2px -2px #819e90;
  }
  
.userLogin{
    text-align: center;
    padding: 5px;
  }
  
.userLogin input[type = text]{
      width: 10%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #aaa;
      border-radius: 4px;
      box-sizing: border-box;
      margin-right: 5px;
      margin-left: 5px;
  }
  
.userLogin input[type = password]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
  }
  
.userLogin input[type = submit]{
    margin-left: 10px;
    margin-right: 5px;
    background-color: white; color: black;
    line-height: 0.7em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.navBar{
    color: white;
    
}

.navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #79A7A8;
    top: 0;
    width: 100%;
}

.navBar li{
    float: left;
    border-right: 1.5px solid #B7D7D8;
}

.navBar li h3 {
  margin: 0px;

}
.navBar li h3 a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;  
}

.navBar li h3:hover {
  background-color: #B7D7D8;
  color: black;
}

.navBar li:last-child {
  border-right: none;
}

.is-active{
  background-color: #B7D7D8;
  color: black;
}

.userDOM{
    display:grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

.createUser{
    padding-left: 20px;
    padding-right: 20px;
}

.updateUser{
    padding-left: 20px;
    padding-right: 20px;
}

.formTitle{
    margin: 0px 0px 10px 0px;
    padding-bottom: 5px;
    border-bottom: #494949 solid 1px;
    color: black;
}

.userForm {
    font-size: 16px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px dashed #494949;
    border-radius: 10px;
    box-shadow: 0 0 0 4px whitesmoke, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

label{
    color: black;
}

.firstName {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.secondName {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.age {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.gameGenre {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.userSubmit {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .homeGrid{
    justify-items: stretch;
    display: grid;
    grid-template-columns: 50vw 50vw;
  }

  .getAllUsers{
    display: inline-block;
    width: 45vw;
    margin: 0px;
  }
  .getAllGames{
    display: inline-block;
    width: 45vw;
    margin: 0px;
  }

  .getUserButton{
    float: left;
    margin: 0px 20px 20px 5vw;
    width: 40vw;
    padding: 12px 20px;
    box-sizing: border-box;
}

  .getGameButton{
    float: right;
    margin: 0px 5vw 20px 20px;
    width: 40vw;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  .results{
    font-family: Atraian;
    font-size: 24px;
    color: black;
    margin: 20px 5vw 5px 5vw;
    max-width: 80%;
    padding: 10px 0px 10px 10px;
    background-color: #f7f7f7;
    border: 2.4px dashed black;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #f7f7f7, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

