
@font-face{
  font-family: 'Atraian';
  src: url('./SFAtarianSystem.ttf');
}

.header{
  letter-spacing: 2px;
  font-family: Atraian;
  padding: 10px;
  margin: 7vh;
  background: #9CC2AF;
  color: #343434;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #9CC2AF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  text-align: center;
}

.userLogin{
  text-align: center;
  padding: 5px;
}

.userLogin input[type = text]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.userLogin input[type = password]{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 5px;
  margin-left: 5px;
}

.userLogin input[type = submit]{
  margin-left: 10px;
  margin-right: 5px;
  background-color: white; color: black;
  line-height: 0.7em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}