.navBar{
    color: white;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #79A7A8;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: left;
    border-right: 1.5px solid #B7D7D8;
}

li h3 {
  margin: 0px;

}
li h3 a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;  
}

li h3:hover {
  background-color: #B7D7D8;
  color: black;
}

li:last-child {
  border-right: none;
}

.is-active{
  background-color: #B7D7D8;
  color: black;
}